export DIGITALOCEAN_ACCESS_TOKEN=dop_v1_ae4edce0657669bc0e50e732a013f1afa37360b1932e08f955008748481b1743
export DO_B64ENCODED_CREDENTIALS=ZG9wX3YxX2FlNGVkY2UwNjU3NjY5YmMwZTUwZTczMmEwMTNmMWFmYTM3MzYwYjE5MzJlMDhmOTU1MDA4NzQ4NDgxYjE3NDM=
export GITHUB_TOKEN=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
