
export DIGITALOCEAN_ACCESS_TOKEN=dop_v1_7aa3912ef54166ee9ad49b211b81102c56df23cc86a40260cc49835d5f4da081
export DO_B64ENCODED_CREDENTIALS=ZG9wX3YxX2FlNGVkY2UwNjU3NjY5YmMwZTUwZTczMmEwMTNmMWFmYTM3MzYwYjE5MzJlMDhmOTU1MDA4NzQ4NDgxYjE3NDM=
export GITHUB_TOKEN=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
